@use 'sass:map';

$min-max: 'min';
$is-rem: true;
$default-transition: 0.2s ease-in-out;
$rem-baseline: 18px;
$breakpoints: ('mob': 0, 'xs': 600px, 'md': 1280px, 'lg': 2188px);

// container
$container-mw: 2028px;
$container-padding: ('mob': 15px, 'xs': 50px, 'md': 50px, 'lg': 160px);

// colors
$dark: #000000;
