@mixin abs-center($plane: null) {
  position: absolute;

  @if $plane == 'x' {
    left: 50%;
    transform: translateX(-50%);
  } @else if $plane == 'y' {
    top: 50%;
    transform: translateY(-50%);
  } @else {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
