* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html,
body {
  @extend %full-size;

  margin: 0;
  padding: 0;
}

a,
img {
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
